{% extends "base.html" %}

{% block title %}Login to StyleUp{% endblock %}
{% block title_page %}Get personalized fashion tips and great finds.{% endblock %}

{% block content %}

    <table width="100%" class="splash_info">
    <tr>
    <td>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/6-mj5s9GQLU" frameborder="0" allowfullscreen></iframe>
    </td>
    <td valign="top">
        The best indication of what works for you (and what doesn't!) is what you already wear. 
        <br><br>
        Share your Facebook photos with Kendall, and she'll curate unique, great finds she's certain you'll love. 
        <br><br>
        (And Kendall <i>promises</i> that your photos are safe with her.) 
        <br><br>
        <center>
        <a href="/facebook/login"><img src="{{STATIC_URL}}/img/facebook_large.png?x=1"></a>
        </center>         
    </td>
    </table>

<!--
  <div class="content">
  <h2>Featured Stylists</h2>
  <div class="clr"></div>
  <div class="l_size_res">
  <img src="static/img/img_1.jpg" width="271" height="113" />
  <p>Etiam ullamcorper Suspendisse a pellentesque dui, non felis. Maecenas male uada elit lectus felis, <br />
    malesuada ultricies.</p>
  <p><a href="#">Continue Reading</a></p>
  </div>
  <div class="l_size_res last"> <img src="static/img/img_3.jpg" width="271" height="113" />
    <p>Etiam ullamcorper Suspendisse a pellentesque dui, non felis. Maecenas male uada elit lectus felis, <br />
      malesuada ultricies.</p>
    <p><a href="#">Continue Reading</a></p></div>
  <div class="l_size_res"> <img src="static/img/img_2.jpg" width="271" height="113" />
    <p>Etiam ullamcorper Suspendisse a pellentesque dui, non felis. Maecenas male uada elit lectus felis, <br />
      malesuada ultricies.</p>
     <p><a href="#">Continue Reading</a></p></div>
  <div class="clr"></div>
    
      <div class="clr"></div>
  <div class="clr"></div>
-->

{% endblock %}